{% extends 'base.html.twig' %}

{% block title %}New Announcements{% endblock %}

{% block body %}
    <h1>Create new Announcements</h1>

    {{ include('announcements/_form.html.twig') }}

    <a href="{{ path('announcements_index') }}">back to list</a>
{% endblock %}