{% extends 'base.html.twig' %}

{% block title %}Nouvelle Annonce{% endblock %}

{% block body %}

    {{ include('announcements/_form.html.twig') }}
    <div class="lien">
        <a class="btn btn-common log-btn" href="{{ path('announcements_index') }}">Retour</a>
    </div>
{% endblock %}