{% extends 'base.html.twig' %}

{% block title %}Inscription - Accroch'.com{% endblock %}

{% block body %}  
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">         
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="page-title">Rejoignez-nous !</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    {{ include('Registration/_form.html.twig') }}

{% endblock %}

