{% extends 'base.html.twig' %}

{% block title %}Edit Products{% endblock %}

{% block body %}
    <h1>Edit {{ product.Label }}</h1>

    {{ include('products/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="lien">
        <a href="{{ path('products_index') }}">Retour</a>
    </div>
    {{ include('products/_delete_form.html.twig') }}
{% endblock %}