{% extends 'base.html.twig' %}

{% block title %}Acroch'Shop{% endblock %}

{% block body %}
    <div class="header">  
        <!-- Hero Area Start -->
        <div id="hero-area">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12 text-center">
                        <div class="contents">
                            <h1 class="head-title">Bienvenue chez <span class="year"><img src="../../image/logo_home_blanc.png" alt="Logo Accroch'.shop" title="Accroch'.shop"></span></h1>
                                    {% if app.user %}
                                <h2>{{ app.user.username }} !</h2><br />
                            {% else %}
                            {% endif %}
                            <h3>Site d'annonces de vente en occasion pour matériel de musique</h3>
                            <!-- Search wrapper Start -->
                            <div id="search-bg-color">
                                <div class="container">
                                    <div class="search-inner">

                                    </div>
                                </div>
                            </div>
                            <!-- Search wrapper End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->
    </div>

    {% if app.user %}
        <br />
        <br />
        <div class="container">
            <div class="card-deck mb-6 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Annonces</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Mes annonces</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li></li>
                        </ul>

                        <button type="button" class="btn btn-lg btn-block btn-info"><a href="{{ path('announcements_index') }}">Consulter</a></button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    {% else %}
        <br />
        <br />
        <div class="container">
            <div class="card-deck mb-6 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Nouvelle Annonce</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Annonce</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li></li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-info"><a href="/register">Créer Annonce</a></button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    {% endif %}
{% endblock %}
