{% extends 'base.html.twig' %}

{% block title %}Créer Nouvelle Catégorie pour Boutiques{% endblock %}

{% block body %}
    <h1>Créer Nouvelle Catégorie pour Boutiques</h1>

    {{ include('cat_shop/_form.html.twig') }}
    
    <div class='lien'>
        <a href="{{ path('cat_shop_index') }}">Retour</a>
    </div>
{% endblock %}