html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
body {
    background: url(../../image/store-1586117_1920-001.jpg) no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    margin: 32pt 0 72pt 0;
}
button.save {
    margin: 32pt auto;
}
button.btn {
    display: block;
}
.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button a {
    color: #fff;
}

button a:hover {
    text-decoration: none;
    color: #fff;
}
button:hover {
    background: #007bff;
}
.text-muted {
    text-align: center;
    color: #fff!important;
}
.pricing-header {
    max-width: 750px;
}
.btn-primary:hover {
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
}

div.lien {
    text-align: center;
    margin: 24pt auto;
    text-transform: uppercase;
}
div.lien a {
    color: #fff;
    font-weight: bold;
}
legend {
    margin-bottom: 2.5rem;
}
label, .col-form-label {
    color: #fff;
}
.form-group {
    width: 20%;
    margin: 0 auto 1rem auto;
}
option {
    width: 50%;
}
.form-control {
    padding: 0pt 4pt;
    border: none;
    border-bottom: 1px solid #ced4da;
}
button.btn {
    margin: 2rem auto 0 auto;
}
.table {
    width: 50%;
    margin: 0 auto 1rem auto;
    background: rgba(255,255,255,0.7);
}
.card {
    background: rgba(255,255,255,0.9);
}
.table th {
    width: 40%;
}

.card-title {
    margin: 0 0 .75rem 0;
}

.border-top {
    border-top: 1px solid #17a2b8!important;
}
footer {
    background: rgba(23,162,184,0.7);

}
large.d-block a {
    color: #000;
}
