{% extends 'base.html.twig' %}

{% block body %}

    <h1 class='text-center' style='margin: auto;background: url(../image/store-1586117_1920-001.jpg);padding: 300px 0;color: #ffffff;'>Bonjour ! <br />Votre message a bien été envoyé.</h1>

{% endblock %}
