{% extends 'base.html.twig' %}

{% block title %}New Messages{% endblock %}

{% block body %}
    <h1 class="text-center">Envoyer un message privé à</h1>
    
    {#{{ app.request.uri }}#}
    
    {{ dump(message) }}

    {{ include('messages/_form.html.twig') }}

    <a href="{{ path('messages_index') }}">back to list</a>
{% endblock %}